<div class="node-wrapper">
  <div class="node-card">
    <img *ngIf="member.image" [src]='member.image' alt="Default Avatar" class="node-image" width="150" height="120" />
    <div class="node-line"></div>
    <strong>{{ member.name }}</strong>
    <div *ngIf="member.spouse">&amp; {{ member.spouse }}</div>
  </div>

  <div class="children-line" *ngIf="member.children?.length">
    <div class="line"></div>
    <div class="children">
      <app-family-node *ngFor="let child of member.children" [member]="child"></app-family-node>
    </div>
  </div>
</div>
